<!-- 
Online HTML, CSS and JavaScript editor to run code online.
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Browser</title>
</head>

<body>
    <div style='width: 1080px; height: 1920px;display: flex;flex-direction: column; align-items:center; gap: -100px'>
        <h1 style='font-style: normal;
font-weight: 700;
font-size: 64px;color: #F84B5A;'>Seu cadastro na</h1>
        <h1 style='font-style: normal;
font-weight: 600;
font-size: 128px;
text-align: center;

color: #F84B5A;'>iCER</h1>
        <h3>Sua senha de acesso é: ${password}</h3>
        <span>Recomendamos que ao realizar o primeiro acesso, vá na opção "Redefinir senha".</span>
    </div>
    <script src="script.js"></script>
</body>

</html>